@import "~bulma/sass/utilities/initial-variables"

@font-face
  font-family: "Helmet-Regular"
  src: url('../fonts/Helmet-Regular.ttf')

.text-logo
  font-size: 34px
  letter-spacing: 0.08em
  font-weight: bold

// Config vars
// Kalidi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333

.navbar .navbar-menu
  box-shadow:none !important

.section
  background-color: white

.page-title
  padding-left: 1.58em

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.title
  font-family: Roboto !important
  font-style: normal !important
  font-weight: 900 !important
  line-height: normal !important
  font-size: 35px !important
  letter-spacing: 0.05em !important
  color: #000000 !important


.blog-post-title
  font-family: Roboto
  font-style: normal
  font-weight: 900
  line-height: normal
  font-size: 42px
  letter-spacing: 0.02em
  color: #585858

.blog-post-excerpt
  font-family: Roboto
  font-style: normal
  font-weight: normal
  line-height: 32px
  font-size: 14px
  text-align: justify
  letter-spacing: 0.02em
  color: #8F9395
  a
    text-decoration: none

.blog-post-content
  // font-family: Roboto
  font-style: normal
  font-weight: normal
  line-height: 35px
  font-size: 17px
  // color: #757575

.divider
  border: 1px solid #E7F2F9
  height: 1px

.vertical-divider
  width: 1px
  margin: 6px 0
  background: #E7F2F9

.publish-date
  color: #A5B1B8

.profile-image
  width: 150px
  height: 150px
  border-radius: 50%
  margin: 20px

  object-fit: cover
  object-position: center right

.social-icons
  align-self: center

.social-icon
  padding-right: 20px

@import "~bulma"
